<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=h1, initial-scale=1.0">
    <title>Document</title>
    <style>
        a{
            cursor: pointer;
            background-color: red;
            color: white;
            padding: 6px 12px;
            outline: none;
            border-radius: 10px;
        }
    </style>
</head>
<body>
    <h1>Dear: <% username %></h1>
    <p>We have received a request to reset ypur password. If this was not you please ignore this email 😀</p>
    <p>Use this reset token to reset your password: <% resetToken %></p>
    <a href="https://www.w3schools.com/html/html_emojis.asp">
    click me
    </a>
</body>
</html>